.h2centre{
    text-align: center;
}
.borderrow{
    margin-top:15px;
    border-bottom:2px solid #d7c97c;
}
#div_add_row{
    border: 1px solid #F0F0F0;
}
#add_row{
    margin-top: 10px;
}
.form-group{
    margin-top:10px;
}
.scriptrow{
    margin:10px 5px 0 5px;
    padding:10px;
    border: 1px solid #F0F0F0;
}
#remove_row{
    width:30px;
    height:30px;
    text-align:center;
    font-size:10px !important;
}
label{
    cursor:pointer;
}
.samebackground
{
    background:#f5f5f5 !important;
}
textarea
{
    margin-bottom:10px !important;
}
.labeloform
{
    margin-bottom: 30px;
    padding-left: 15px;
}