.h2center{
    text-align: center;
}
.row{
    margin-top:20px;border-bottom:2px solid #d7c97c;
}
.col-md-4{
    color:#686868;
}
.form-control{
    margin-bottom:20px ;
}
.form-group{
    margin-top:10px;
}